[Input]

inputFilesDA = data/inputDATA_Z_Moriond2013.txt
inputFilesMC = data/inputMC_Z.txt



[Options]

### max entries to process (all entries: -1)
maxEntries = -1

### the extension of the plots. Can be: pdf,png
extension = pdf

### can be: stdSC, eleTunedReg, phoTunedReg
enCorrType = eleTunedReg

### identify the rereco. Can be: Moriond2013, Winter2013
dataLabel = Moriond2013

### decide whether to apply or not PU and energy corrections
applyPUWeight        = true
applyEnergyScaleCorr = true
applyEnergySmearing  = true

### identify the type of corrections. Can be: shervin, fabrice, andrea
energyScaleCorrType = shervin
energySmearingType  = shervin

### decide what type of fit to perform
doVoigtianFit = true
doCrystalBallFit = false



[Output]

outFilePath = data/
